body {
    padding: 50px;

}


#mobile1,#mobile2 {
    width: 414px;
    height: 736px;
    border: 1px solid;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px;
}

.image {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: -1;
}


.temp {position: relative;
    bottom: 430px;
    left: 230px;
    font-size: 50pt;
    color: white;
    z-index: 1;
    width: 100px;
    height: 70px;
}



.bird {position:relative;
    z-index: auto;
    width: 50px;
    height: 50px;
   
}



 .image2 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}


.temp2 {position: relative;
    bottom: 333px;
    left: 193px;
    font-size: 18pt;
    color: black;
    z-index: 1;
    width: 60px;
    height: 25px;
    font-family: "Century Gothic";
}

.temp3 {position: relative;
    bottom: 333px;
    left: 193px;
    font-size: 18pt;
    color: black;
    z-index: 1;
    width: 60px;
    height: 25px;
    font-family: "Century Gothic";
}

.temp4 {position: relative;
    bottom: 333px;
    left: 193px;
    font-size: 18pt;
    color: black;
    z-index: 1;
    width: 60px;
    height: 25px;
    font-family: "Century Gothic";
}

.temp5 {position: relative;
    bottom: 333px;
    left: 193px;
    font-size: 18pt;
    color: black;
    z-index: 1;
    width: 60px;
    height: 25px;
    font-family: "Century Gothic";
}

.temp6 {position: relative;
    bottom: 333px;
    left: 193px;
    font-size: 18pt;
    color: black;
    z-index: 1;
    width: 60px;
    height: 25px;
    font-family: "Century Gothic";
}

.temp7 {position: relative;
    bottom: 333px;
    left: 193px;
    font-size: 18pt;
    color: black;
    z-index: 1;
    width: 60px;
    height: 25px;
    font-family: "Century Gothic";
}

.temp8 {position: relative;
    bottom: 333px;
    left: 193px;
    font-size: 18pt;
    color: black;
    z-index: 1;
    width: 60px;
    height: 25px;
    font-family: "Century Gothic";
    
}

.precip {position: relative;
    bottom: 622px;
    left: 310px;
    font-size: 18pt;
    color: black;
    z-index: 3;
    width: 60px;
    height: 25px;
    font-family: "Century Gothic";
}
.precip1 {position: relative;
    bottom: 622px;
    left: 310px;
    font-size: 18pt;
    color: black;
    z-index: 3;
    width: 60px;
    height: 25px;
    font-family: "Century Gothic";
}
.precip2 {position: relative;
    bottom: 622px;
    left: 310px;
    font-size: 18pt;
    color: black;
    z-index: 3;
    width: 60px;
    height: 25px;
    font-family: "Century Gothic";
}
.precip3 {position: relative;
    bottom: 622px;
    left: 310px;
    font-size: 18pt;
    color: black;
    z-index: 3;
    width: 60px;
    height: 25px;
    font-family: "Century Gothic";
}
.precip4 {position: relative;
    bottom: 622px;
    left: 310px;
    font-size: 18pt;
    color: black;
    z-index: 3;
    width: 60px;
    height: 25px;
    font-family: "Century Gothic";
}
.precip5 {position: relative;
    bottom: 622px;
    left: 310px;
    font-size: 18pt;
    color: black;
    z-index: 3;
    width: 60px;
    height: 25px;
    font-family: "Century Gothic";
}
.precip6 {position: relative;
    bottom: 622px;
    left: 310px;
    font-size: 18pt;
    color: black;
    z-index: 3;
    width: 60px;
    height: 25px;
    font-family: "Century Gothic";
}

.Sun {position: relative;
    bottom: 908px;
    left: 60px;
    font-size: 18pt;
    color: black;
    z-index: 1;
    width: 60px;
    height: 25px;
    font-family: "Century Gothic";
}

.Mon {position: relative;
    bottom: 908px;
    left: 60px;
    font-size: 18pt;
    color: black;
    z-index: 1;
    width: 60px;
    height: 25px;
    font-family: "Century Gothic";
}

.Tue {position: relative;
    bottom: 908px;
    left: 60px;
    font-size: 18pt;
    color: black;
    z-index: 1;
    width: 60px;
    height: 25px;
    font-family: "Century Gothic";
}
.Wed {position: relative;
    bottom: 908px;
    left: 60px;
    font-size: 18pt;
    color: black;
    z-index: 1;
    width: 60px;
    height: 25px;
    font-family: "Century Gothic";
}
.Thu {position: relative;
    bottom: 908px;
    left: 60px;
    font-size: 18pt;
    color: black;
    z-index: 1;
    width: 60px;
    height: 25px;
    font-family: "Century Gothic";
}
.Fri {position: relative;
    bottom: 908px;
    left: 60px;
    font-size: 18pt;
    color: black;
    z-index: 1;
    width: 60px;
    height: 25px;
    font-family: "Century Gothic";
}
.Sat {position: relative;
    bottom: 908px;
    left: 60px;
    font-size: 18pt;
    color: black;
    z-index: 1;
    width: 60px;
    height: 25px;
    font-family: "Century Gothic";
}

